
<form>
  <!-- Grid row -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">專案名稱</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input type="text" class="form-control" [(ngModel)]="request.projectName" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <!-- Grid row -->
  <!-- Grid row -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">連接字串</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input type="text" class="form-control" [(ngModel)]="request.connectionString" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <!-- Grid row -->
  <!-- Grid row -->
  <div *ngFor="let tableName of request.tableNames; trackBy:identify" class="form-group row">
    <label class="col-sm-2 col-form-label">資料表名稱</label>
    <div class="col-sm-10">
      <div class="md-form mt-0">
        <input type="text" class="form-control" [(ngModel)]="tableName" [ngModelOptions]="{standalone: true}">
      </div>
    </div>
  </div>
  <!-- Grid row -->
</form>

<input type="button" class="btn btn-success" value="新增資料表" (click)="addTableNameClick()" />
<input type="button" class="btn btn-primary" value="生成" (click)="generateCsApiClick()" /><br />

<!--<ngb-alert type="success" [dismissible]="false">
  Bootstrap is working!
</ngb-alert>-->

<textarea>{{jsonResponse}}</textarea>

<div *ngFor="let resource of resources">
  {{resource.savePath}}
  <input type="button" class="btn btn-primary" value="展開" (click)="openResource(resource.savePath);" />
  <div *ngIf="resource.open">
    <div *ngFor="let parameter of resource.tree | keyvalue">
      {{parameter.key}}
    </div>
  </div>
</div>
