<form>
  <ng-container *ngIf="resources; then template_codes else template_inputs"></ng-container>
  <ng-template #template_inputs>
    <div class="form-group row" *ngFor="let input of inputs">
      <ng-container [ngTemplateOutlet]="template_input" [ngTemplateOutletContext]="{input: input}"></ng-container>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="button" class="btn btn-primary" value="生成代碼" (click)="submit()" />
        <input type="button" class="btn btn-secondary" value="返回列表" (click)="back()" />
      </div>
    </div>
  </ng-template>
  <ng-template #template_codes>
    <div class="form-group row" *ngFor="let resource of resources">
      <label class="col-sm-2 col-form-label">沒有指定名稱</label>
      <div class="col-sm-10">
        <div class="md-form mt-0">
          <textarea class="form-control" rows="7" readonly="readonly">{{resource.text}}</textarea>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <input type="button" class="btn btn-warning" value="重新生成" (click)="rollback()" />
        <input type="button" class="btn btn-danger" value="離開" (click)="back()" />
      </div>
    </div>
  </ng-template>
</form>

<ng-template #template_input let-input="input">
  <ng-container *ngIf="input.description; then template_description else template_name"></ng-container>
  <ng-template #template_description>
    <label class="col-sm-2 col-form-label">{{input.description}}</label>
  </ng-template>
  <ng-template #template_name>
    <label class="col-sm-2 col-form-label">{{input.name}}</label>
  </ng-template>
  <div class="col-sm-10">
    <ng-container *ngIf="input.isMultiple; then input_values else input_value"></ng-container>
    <!-- Multiple -->
    <ng-template #input_values>
      <ng-container *ngIf="input.children && input.children.length; then input_objects else input_strings"></ng-container>
      <!-- Multiple Object -->
      <ng-template #input_objects>
        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-success" type="button" (click)="add(input)">＋</button>
          </div>
        </div>
        <ng-container *ngFor="let valueInputs of input.values; let i = index">
          <div class="form-group row" *ngFor="let valueInput of valueInputs">
            <ng-container [ngTemplateOutlet]="template_input" [ngTemplateOutletContext]="{input: valueInput}"></ng-container>
          </div>
          <div class="form-group row">
            <div class="col-sm-12">
              <button *ngIf="!(i === 0 && input.isRequired)" class="btn btn-danger" type="button" (click)="remove(input, i)">－</button>
              <button *ngIf="i === 0 && input.isRequired" class="btn btn-danger" type="button" disabled>－</button>
            </div>
          </div>
        </ng-container>
      </ng-template>
      <!-- Multiple Value -->
      <ng-template #input_strings>
        <div class="form-group row">
          <div class="col-sm-12">
            <button class="btn btn-success" type="button" (click)="add(input)">＋</button>
          </div>
        </div>
        <div class="md-form mt-0">
          <div class="input-group mb-3" *ngFor="let value of input.values; let i = index; trackBy: trackByFn">
            <div class="input-group-prepend">
              <button *ngIf="!(i === 0 && input.isRequired)" class="btn btn-danger" type="button" (click)="remove(input, i)">－</button>
              <button *ngIf="i === 0 && input.isRequired" class="btn btn-danger" type="button" disabled>－</button>
            </div>
            <input type="text" class="form-control" [(ngModel)]="input.values[i]" [ngModelOptions]="{standalone: true}">
          </div>
        </div>
      </ng-template>
    </ng-template>
    <!-- Single -->
    <ng-template #input_value>
      <ng-container *ngIf="input.children && input.children.length; then input_object else input_string"></ng-container>
      <!-- Single Object -->
      <ng-template #input_object>
        <div class="form-group row" *ngFor="let valueInput of input.values[0]">
          <ng-container [ngTemplateOutlet]="template_input" [ngTemplateOutletContext]="{input: valueInput}"></ng-container>
        </div>
      </ng-template>
      <!-- Single Value -->
      <ng-template #input_string>
        <div class="md-form mt-0">
          <input type="text" class="form-control" [(ngModel)]="input.values[0]" [ngModelOptions]="{standalone: true}">
        </div>
      </ng-template>
    </ng-template>
  </div>
</ng-template>
