using MediatR;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using {{# ProjectName }}.Data.Models;

namespace {{# ProjectName }}.Controllers.{{# PluralModelName }}.Actions
{
    public class Delete{{# ModelName }}By{{# By}}
    {
        public class Request : IRequest<Response>
        {
            {{# Properties , @@Endline }}
            
            {{# Constructor }}
        }

        public class Response
        {
        }

        public class Handler : IRequestHandler<Request, Response>
        {
            {{# DependencyInjection }}

            public async Task<Response> Handle(Request request, CancellationToken token)
            {
                {{# ModelName }} {{# ModelObjectName }} = await context.{{# PluralModelName }}
                    .FirstOrDefaultAsync(x => {{# FindFilter , && }});
                if ({{# ModelObjectName }} != null)
                {
                    context.Remove({{# ModelObjectName }});
                    await context.SaveChangesAsync();
                }
                return new Response();
            }
        }
    }
}
