using MediatR;
using System;
using System.Collections.Generic;
using System.Linq;
using System.Threading;
using System.Threading.Tasks;
using {{# ProjectName }}.Data;
using {{# ProjectName }}.Data.Models;

namespace {{# ProjectName }}.Controllers.{{# PluralModelName }}.Actions
{
    public class Get{{# PluralModelName }}
    {
        public class Request : IRequest<Response>
        {
            // Search Requset Properties

            public int? PageNumber { get; set; }
            public int? PageSize { get; set; }
        }

        public class Row
        {
            {{# Properties , @@Endline }}

            {{# Constructor }}
        }

        public class Response
        {
            public int? PageNumber { get; set; }
            public int? PageSize { get; set; }
            public int? Count { get; set; }
            public List<Row> Rows { get; set; }
        }

        public class Handler : IRequestHandler<Request, Response>
        {
            {{# DependencyInjection }}

            public async Task<Response> Handle(Request request, CancellationToken token)
            {
                IQueryable<{{# ModelName }}> {{# PluralModelObjectName }} = context.{{# PluralModelName }};

                // Some Filters

                int count = {{# PluralModelObjectName }}.Count();
                if (count > 0 && request.PageNumber.HasValue && request.PageSize.HasValue)
                {
                    {{# PluralModelObjectName }} = {{# PluralModelObjectName }}
                        .Skip((request.PageNumber.Value - 1) * request.PageSize.Value)
                        .Take(request.PageSize.Value);
                }

                List<Row> rows = {{# PluralModelObjectName }}
                    .ToList()
                    .Select(x => new Row(x))
                    .ToList();

                return new Response()
                {
                    PageNumber = request.PageNumber,
                    PageSize = request.PageSize,
                    Count = count,
                    Rows = rows
                };
            }
        }
    }
}
