<div class="form-group row">
  <label class="col-sm-2 col-form-label">名稱</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="generator.name">
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">參數</label>
  <div class="col-sm-10">
    <ng-container *ngIf="generator.codeTemplate.inputs">
      <ng-container *ngFor="let input of generator.codeTemplate.inputs">
        <div class="form-group">
          <ng-container [ngTemplateOutlet]="template_input" [ngTemplateOutletContext]="{input: input, isproperty: false}"></ng-container>
        </div>
      </ng-container>
    </ng-container>
    <div class="form-group">
      <button class="btn btn-success" type="button" (click)="addInput()">＋</button>
    </div>
  </div>
</div>
<div class="form-group row">
  <label class="col-sm-2 col-form-label">樣板</label>
  <div class="col-sm-10">
    <ng-container *ngIf="generator.codeTemplate.templateNodes">
      <ng-container *ngFor="let templateNode of generator.codeTemplate.templateNodes">
        <div class="form-group">
          <ng-container [ngTemplateOutlet]="template_template" [ngTemplateOutletContext]="{template: templateNode}"></ng-container>
        </div>
      </ng-container>
    </ng-container>
    <div class="form-group">
      <button class="btn btn-success" type="button" (click)="addTemplate()">＋</button>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="offset-sm-2 col-sm-10">
    <input *ngIf="id === 0" type="button" class="btn btn-primary" value="建立" (click)="create()" />
    <input *ngIf="id > 0" type="button" class="btn btn-primary" value="修改" (click)="update()" />
    <input type="button" class="btn btn-secondary" value="返回" (click)="back()" />
  </div>
</div>

<ng-template #template_input let-parent="parent" let-input="input" let-isproperty="isproperty">
  <div class="form-inline">
    <div class="form-group">
      <button *ngIf="!parent" class="btn btn-danger" type="button" (click)="removeInput(input)">－</button>
      <button *ngIf="parent" class="btn btn-danger" type="button" (click)="removeProperty(parent, input)">－</button>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">名稱</span>
        </div>
        <input type="text" class="form-control" placeholder="只能輸入英文、數字及底線(_)" [(ngModel)]="input.name">
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">顯示名稱</span>
        </div>
        <input type="text" class="form-control" placeholder="{{input.name}}" [(ngModel)]="input.displayName">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="button" (click)="open(template_input_modal, {input: input, isproperty: isproperty})">進階</button>
    </div>
  </div>
</ng-template>

<ng-template #template_template let-parameter="parameter" let-template="template">
  <div class="form-inline">
    <div *ngIf="!parameter" class="form-group">
      <button class="btn btn-danger" type="button" (click)="removeTemplate(template)">－</button>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">名稱</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="template.name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="getTemplates(); open(templates_selector, {template: template});">選擇</button>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">網址</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="template.url">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="button" (click)="open(template_template_modal, {template: template})">進階</button>
    </div>
  </div>
</ng-template>

<ng-template #template_request let-template="template" let-adapter="adapter" let-request="request">
  <div class="form-inline">
    <div class="form-group">
      <button *ngIf="template" class="btn btn-danger" type="button" (click)="removeTemplateRequest(template, request)">－</button>
      <button *ngIf="adapter" class="btn btn-danger" type="button" (click)="removeAdapterRequest(adapter, request)">－</button>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">名稱</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="request.name">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="button" (click)="open(template_request_modal, {request: request})">進階</button>
    </div>
  </div>
</ng-template>

<ng-template #template_adapter let-template="template" let-adapter="adapter">
  <div class="form-inline">
    <div class="form-group">
      <button class="btn btn-danger" type="button" (click)="removeAdapter(template, adapter)">－</button>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">名稱</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="adapter.name">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="button" (click)="open(template_adapter_modal, {adapter: adapter})">進階</button>
    </div>
  </div>
</ng-template>

<ng-template #template_parameter let-template="template" let-parameter="parameter">
  <div class="form-inline">
    <div class="form-group">
      <button class="btn btn-danger" type="button" (click)="removeParameter(template, parameter)">－</button>
    </div>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">名稱</span>
        </div>
        <input type="text" class="form-control" [(ngModel)]="parameter.name">
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-outline-secondary" type="button" (click)="open(template_parameter_modal, {parameter: parameter})">進階</button>
    </div>
  </div>
</ng-template>

<ng-template #template_input_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">參數</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.input.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">顯示名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.input.displayName">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">輸入框類型</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.input.guid}}" [value]="'textbox'" [(ngModel)]="currentModal.input.inputType">
            文字輸入框
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.input.guid}}" [value]="'textarea'" [(ngModel)]="currentModal.input.inputType">
            多行文字輸入框
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.input.guid}}" [value]="'truefalse'" [(ngModel)]="currentModal.input.inputType">
            是與否選項
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">其他</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="currentModal.input.isRequired">
            必填
          </label>
        </div>
        <div *ngIf="currentModal.input.inputType !== 'truefalse'" class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="currentModal.input.isMultiple">
            允許多個值
          </label>
        </div>
        <div *ngIf="!currentModal.isproperty && currentModal.input.isMultiple" class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="currentModal.input.isSplit">
            把每個值分開處理
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">成員</label>
      <div class="col-sm-10">
        <ng-container *ngIf="currentModal.input.children">
          <ng-container *ngFor="let child of currentModal.input.children; let i = index">
            <div class="form-group">
              <ng-container [ngTemplateOutlet]="template_input" [ngTemplateOutletContext]="{parent: currentModal.input, input: child, isproperty: true}"></ng-container>
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group">
          <button class="btn btn-success" type="button" (click)="addProperty(currentModal.input)">＋</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #template_template_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">樣板</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">名稱</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="currentModal.template.name">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="getTemplates(); open(templates_selector, {template: currentModal.template});">選擇</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">網址</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.template.url">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">網址參數</label>
      <div class="col-sm-10">
        <ng-container *ngIf="currentModal.template.requestNodes">
          <ng-container *ngFor="let requestNode of currentModal.template.requestNodes">
            <div class="form-group">
              <ng-container [ngTemplateOutlet]="template_request" [ngTemplateOutletContext]="{template: currentModal.template, request: requestNode}"></ng-container>
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group">
          <button class="btn btn-success" type="button" (click)="addTemplateRequest(currentModal.template)">＋</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">資料中繼器</label>
      <div class="col-sm-10">
        <ng-container *ngIf="currentModal.template.adapterNodes">
          <ng-container *ngFor="let adapterNode of currentModal.template.adapterNodes">
            <div class="form-group">
              <ng-container [ngTemplateOutlet]="template_adapter" [ngTemplateOutletContext]="{template: currentModal.template, adapter: adapterNode}"></ng-container>
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group">
          <button class="btn btn-success" type="button" (click)="addAdapter(currentModal.template)">＋</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">樣板參數</label>
      <div class="col-sm-10">
        <ng-container *ngIf="currentModal.template.parameterNodes">
          <ng-container *ngFor="let parameterNode of currentModal.template.parameterNodes">
            <div class="form-group">
              <ng-container [ngTemplateOutlet]="template_parameter" [ngTemplateOutletContext]="{template: currentModal.template, parameter: parameterNode}"></ng-container>
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group">
          <button class="btn btn-success" type="button" (click)="addParameter(currentModal.template)">＋</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #template_request_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">網址參數</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.request.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">來源</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.request.guid}}" [value]="'value'" [(ngModel)]="currentModal.request.from">
            值
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.request.guid}}" [value]="'input'" [(ngModel)]="currentModal.request.from">
            參數
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.request.guid}}" [value]="'adapter'" [(ngModel)]="currentModal.request.from">
            中繼器
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="currentModal.request.from === 'value'" class="form-group row">
      <label class="col-sm-2 col-form-label">值</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.request.value">
      </div>
    </div>
    <div *ngIf="currentModal.request.from === 'input'" class="form-group row">
      <label class="col-sm-2 col-form-label">參數名稱</label>
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="currentModal.request.inputName">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="open(template_inputs_selector, {request: currentModal.request})">選擇</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentModal.request.from === 'input'" class="form-group row">
      <label class="col-sm-2 col-form-label">參數物件成員</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.request.inputProperty">
      </div>
    </div>
    <div *ngIf="currentModal.request.from === 'adapter'" class="form-group row">
      <label class="col-sm-2 col-form-label">中繼器名稱</label>
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="currentModal.request.adapterName">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="open(template_adapters_selector, {request: currentModal.request, adapters: getMergeAdapters(currentModal.request) })">選擇</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentModal.request.from === 'adapter'" class="form-group row">
      <label class="col-sm-2 col-form-label">中繼器物件成員</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.request.adapterProperty">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #template_adapter_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">資料中繼器</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.adapter.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">網址</label>
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <select class="form-control" [(ngModel)]="currentModal.adapter.httpMethod">
              <option [value]="'get'">Get</option>
              <option [value]="'post'">Post</option>
            </select>
          </div>
          <input type="text" class="form-control" [(ngModel)]="currentModal.adapter.url">
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">網址參數</label>
      <div class="col-sm-10">
        <ng-container *ngIf="currentModal.adapter.requestNodes">
          <ng-container *ngFor="let requestNode of currentModal.adapter.requestNodes">
            <div class="form-group">
              <ng-container [ngTemplateOutlet]="template_request" [ngTemplateOutletContext]="{adapter: currentModal.adapter, request: requestNode}"></ng-container>
            </div>
          </ng-container>
        </ng-container>
        <div class="form-group">
          <button class="btn btn-success" type="button" (click)="addAdapterRequest(currentModal.adapter)">＋</button>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">物件成員限縮</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.adapter.responseConfine">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">其他</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" [(ngModel)]="currentModal.adapter.isSplit">
            把每個值分開處理
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #template_parameter_modal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">樣板參數</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">名稱</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.parameter.name">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">來源</label>
      <div class="col-sm-10">
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.parameter.guid}}" [value]="'value'" [(ngModel)]="currentModal.parameter.from">
            值
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.parameter.guid}}" [value]="'input'" [(ngModel)]="currentModal.parameter.from">
            參數
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.parameter.guid}}" [value]="'adapter'" [(ngModel)]="currentModal.parameter.from">
            中繼器
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="{{currentModal.parameter.guid}}" [value]="'template'" [(ngModel)]="currentModal.parameter.from">
            樣板
          </label>
        </div>
      </div>
    </div>
    <div *ngIf="currentModal.parameter.from === 'value'" class="form-group row">
      <label class="col-sm-2 col-form-label">值</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.parameter.value">
      </div>
    </div>
    <div *ngIf="currentModal.parameter.from === 'input'" class="form-group row">
      <label class="col-sm-2 col-form-label">參數名稱</label>
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="currentModal.parameter.inputName">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="open(template_inputs_selector, {parameter: currentModal.parameter})">選擇</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentModal.parameter.from === 'input'" class="form-group row">
      <label class="col-sm-2 col-form-label">參數物件成員</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.parameter.inputProperty">
      </div>
    </div>
    <div *ngIf="currentModal.parameter.from === 'adapter'" class="form-group row">
      <label class="col-sm-2 col-form-label">中繼器名稱</label>
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <input type="text" class="form-control" [(ngModel)]="currentModal.parameter.adapterName">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="open(template_adapters_selector, {parameter: currentModal.parameter, adapters: getMergeAdapters(currentModal.parameter) })">選擇</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="currentModal.parameter.from === 'adapter'" class="form-group row">
      <label class="col-sm-2 col-form-label">中繼器物件成員</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="currentModal.parameter.adapterProperty">
      </div>
    </div>
    <div *ngIf="currentModal.parameter.from === 'template'" class="form-group row">
      <label class="col-sm-2 col-form-label">樣板</label>
      <div class="col-sm-10">
        <ng-container [ngTemplateOutlet]="template_template" [ngTemplateOutletContext]="{parameter: currentModal.parameter, template: currentModal.parameter.templateNode}"></ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #template_inputs_selector let-modal>
  <div class="modal-header">
    <h4 class="modal-title">選擇參數</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="generator.codeTemplate.inputs">
      <ng-container *ngFor="let input of generator.codeTemplate.inputs">
        <ng-container *ngIf="input.name && input.name.trim().length > 0">
          <div class="form-group">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">名稱</span>
                  </div>
                  <input type="text" class="form-control" value="{{input.name}}" readonly>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">顯示名稱</span>
                  </div>
                  <input type="text" class="form-control" placeholder="{{input.name}}" value="{{input.displayName}}" readonly>
                </div>
              </div>
              <div class="form-group">
                <input *ngIf="currentModal.request" type="button" class="btn btn-outline-secondary" value="選擇" (click)="currentModal.request.inputName = input.name; modal.close('Close');" />
                <input *ngIf="currentModal.parameter" type="button" class="btn btn-outline-secondary" value="選擇" (click)="currentModal.parameter.inputName = input.name; modal.close('Close');" />
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #template_adapters_selector let-modal>
  <div class="modal-header">
    <h4 class="modal-title">選擇中繼器</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="currentModal.adapters">
      <ng-container *ngFor="let adapter of currentModal.adapters">
        <ng-container *ngIf="adapter.name && adapter.name.trim().length > 0">
          <div class="form-group">
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">名稱</span>
                  </div>
                  <input type="text" class="form-control" value="{{adapter.name}}" readonly>
                </div>
              </div>
              <div class="form-group">
                <input *ngIf="currentModal.request" type="button" class="btn btn-outline-secondary" value="選擇" (click)="currentModal.request.adapterName = adapter.name; modal.close('Close');" />
                <input *ngIf="currentModal.parameter" type="button" class="btn btn-outline-secondary" value="選擇" (click)="currentModal.parameter.adapterName = adapter.name; modal.close('Close');" />
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>

<ng-template #templates_selector let-modal>
  <div class="modal-header">
    <h4 class="modal-title">選擇樣板</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-container *ngIf="templates">
      <ng-container *ngFor="let template of templates">
        <div class="form-group">
          <div class="form-inline">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">名稱</span>
                </div>
                <input type="text" class="form-control" value="{{template.name}}" readonly>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">網址</span>
                </div>
                <input type="text" class="form-control" value="{{template.url}}" readonly>
              </div>
            </div>
            <div class="form-group">
              <input type="button" class="btn btn-outline-secondary" value="選擇" (click)="currentModal.template.name = template.name; currentModal.template.url = template.url; modal.close('Close');" />
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Close');">返回</button>
  </div>
</ng-template>
